body {
   background: white;
   color: black;
   text-align: center;
}

.navigation-links {
    background-color: white;
    height: 35px;
    display: flex;
    justify-content: center;
    color: #52575B;
    width: 100%;
     box-shadow: 0 1px 1px 0 rgba(0,0,0,.1); 
    color: #008080;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
  }
  .nav-link {
    margin: 50px;
  }
  
  #current {
    font-weight: bolder;
  }
  
  .nav-link:hover {
    color: #008080;
    cursor: pointer;
  }

#sign-up:hover {
    cursor: pointer;
    color: Orange;
  }

  #sign-up {
    background-color: #008080;
  }

  table.socialmedia {
    width: 20%;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
  }
  
  table.links {
    width: 50%;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
  }